.geography > p {
    color:rgb(145, 89, 21);
}

.culture__title ~ p {
    color:rgb(63, 167, 207);
}

.economy__title + p {
    color:rgb(35, 179, 59);
}

.geography__title.title {
    color : rgb(193, 207, 63);
}

.content, .culture, .history, .economy {
    color: rgb(14, 6, 124);
}

[class*='foo'] {
    color: pink;
}

#next {
    color: aquamarine;
}