body {
    background-color: #1A1A1A;
    color: #918f8f;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: yellow;

    z-index: 50;
}

.header__container {
}
.header__menu {
}
.menu {
}
.menu__body {
}
.menu__list {
    font-size: 20px;
    margin: 0 10px;
}
.menu__item {
    display: inline-block;
    position: relative;
}
.menu__item:hover .menu_link {
    text-decoration: underline;
}
.menu__item:hover .submenu {
    opacity: 1;
    visibility: visible;
}
.menu__item:not(:last-child) {
    margin-right: 20px;
}
.menu__link {
    font-size: 20px;
    padding: 20px 0;
}
.menu__link:hover {
    text-decoration: underline;
}


.menu__submenu, .menu__downmenu  {
    position: absolute;
    left: 0;
    top: 100%;
    width: 120px;
    padding: 10px 0;
    background-color: aquamarine;
}
.submenu {
 opacity: 0; 
 visibility: hidden;
 transition: all 0.3s ;
}

.submenu__item {
    position: relative;
}
.submenu__item:hover .downmenu {
    opacity: 1;
    visibility: visible;
}

.submenu__item:not(:last-child) {
    margin-bottom: 10px;
}
.submenu__link {
    font-size: 18px;
    padding: 0 10px;
    
}
.submenu__link:hover {
    text-decoration: underline;

}

.menu__downmenu {
    left: 100%;
    top: 0%;
    background-color: lightblue;
}
.downmenu {
     opacity: 0; 
 visibility: hidden;
 transition: all 0.3s ;
}
.downmenu__item {
}
.downmenu__link {
    padding: 10px ;
    width: 100%;
    font-size: 16px;
}
.downmenu__link:hover {
text-decoration: underline;
}

.page {
    margin: 100px 0;
}
.container {
    max-width: 834px;
    margin: 0 auto;
    padding: 0 16px;
}
.responsibilities {
    
}
.responsibilities h3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;

}
.responsibilities p {
    margin-bottom: 15px;
    position: relative;
}
.responsibilities p:before {
    position: absolute;
    content: "• ";
    background: url(../img/icon.svg) left 0px / 16px no-repeat;
    width: 16px;
    height: 16px;
    left: -20px;
    top: 0px;
}