body {
    font-family: 'Open Sans', sans-serif;

}

.container {
    max-width: 900px;
    box-sizing: border-box;
    margin: 0 auto;
}
.nature-container {
    max-width: 475px;
    box-sizing: border-box;
    margin: 0 auto;
}


.game {
    padding: 50px 0;
    background-color: blueviolet;
    min-height: 100vh;
}


.game-title {
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
}
.game-subtitle {
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 10px;
}
.game-start__wrapper {
    background-color: rgb(80, 13, 58) ;
    min-height: 700px;
}
.game-block {
    visibility:hidden;
    background-color: rgb(76, 208, 226);
}
.game-block:hover, .game-block:hover+div {
    visibility:visible;
}
.game-block:first-child, .game-block:last-child {
    width: 45px;
    height: 45px;
    border-radius:10px;
    background-color: aquamarine;
    border: 1px solid greenyellow;
}
.game-block:nth-child(1) {
    visibility: visible;
    text-align: center;
    padding-top: 55px;

}
.game-block:nth-child(2) {
    width: 135px;
    height: 35px;
    margin-top: -50px;
    margin-left: 45px;
}
.game-block:nth-child(3)  {
    height: 135px;
    width: 35px;
    margin-left: 145px;
    margin-top: 0px;
}
.game-block:nth-child(4)  {
    width: 135px;
    height: 35px;
    margin-top: 0px;
    margin-left: 145px;
}
.game-block:nth-child(5)  {
    height: 135px;
    width: 35px;
    margin-left: 245px;
    margin-top: -170px;
}
.game-block:nth-child(6)  {
    width: 135px;
    height: 35px;
    margin-top: -170px;
    margin-left: 245px;
}
.game-block:nth-child(7)  {
    height: 200px;
    width: 35px;
    margin-left: 345px;
    margin-top: -35px;
}
.game-block:nth-child(8)  {
    width: 135px;
    height: 35px;
    margin-top: -35px;
    margin-left: 380px;
}
.game-block:nth-child(9)  {
    width: 135px;
    height: 35px;
    margin-top: -35px;
    margin-left: 380px;
}
.game-block:nth-child(10)  {
    width: 35px;
    height: 135px;
    margin-top: -170px;
    margin-left: 480px;
}
.game-block:nth-child(11)  {
    width: 135px;
    height: 35px;
    margin-top: -135px;
    margin-left: 515px;
}
.game-block:nth-child(12)  {
    width: 35px;
    height: 235px;
    margin-top: 0px;
    margin-left: 615px;
}
.game-block:nth-child(13)  {
    width: 235px;
    height: 35px;
    margin-top: 0px;
    margin-left: 615px;
}
.game-block:nth-child(14)  {
    width: 35px;
    height: 235px;
    margin-top: 0px;
    margin-left: 815px;
}
.game-block:nth-child(15)  {
    width: 235px;
    height: 35px;
    margin-top: 0px;
    margin-left: 615px;
}
.game-block:nth-child(16)  {
    width: 35px;
    height: 135px;
    margin-top: -170px;
    margin-left: 615px;
}
.game-block:nth-child(17)  {
    width: 20px;
    height: 35px;
    margin-top: -135px;
    margin-left: 595px;
}
.game-block:nth-child(18)  {
    width: 35px;
    height: 235px;
    margin-top: -235px;
    margin-left: 560px;
}
.game-block:nth-child(19)  {
    width: 235px;
    height: 35px;
    margin-top: -235px;
    margin-left: 325px;
}
.game-block:nth-child(20)  {
    width: 35px;
    height: 235px;
    margin-top: 0px;
    margin-left: 325px;

}
.game-block:nth-child(21)  {
    width: 235px;
    height: 35px;
    margin-top: -35px;
    margin-left: 90px;

}
.game-block:nth-child(22)  {
    margin-top: -40px;
    margin-left: 45px;
}


.nature {
    font-family: 'DM Sans', sans-serif;
    padding: 100px 0;
}


.nature-title {
    color: #131313;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: -1.3px;
    margin-bottom: 20px;
}
.nature-title::before {
	display: block;
	content: "";
	border-radius: 2px;
	background: linear-gradient(rgba(18.3, 255, 70.38, 1), rgba(0, 0, 0, 1) );
	width: 35.65%; /* 169/474 */
	height: 4px;
	margin-bottom: 17px;
}
.nature-title span{
    font-weight: 700;
    color: #1AAF5B;
}
.nature-text {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.5px;
    color: #000000;
    margin-bottom: 60px;
    padding-right: 10px;
}
.nature-link {
    color: #fff;
    padding: 25px 40px 25px 40px;
    font-weight: 700;
    letter-spacing: -0.4px;
    font-size: 17px;
    background-color: #1AAF5B;
    border-radius: 0 18px 0 0;
    /* background: url(../img/arrow-right.svg); */
}

.nature-link::after {
    content: '';
    display: inline-block;
    width: 20px;
    height: 10px;
    background: url(../img/arrow-right.svg) no-repeat center center;
    background-size: contain;
    margin-left: 20px;
}
.nature-link:hover {
    background-color: #57d38d;
    color: #000;
    transition: all 1.1s ease;
}
