body {
  font-family: "Arial", monospace;
  background-color: #1d1d20;
  color: #9fa49f;
  margin: 0;
  padding: 0;
}
.container {
  width: 1200px;
  margin: 0 auto;
}

li {
  margin-bottom: 10px;
}

header {
  margin: 20px 0;
}

.header__title {
  font-size: 30px;
  margin: 0 auto;
  text-align: center;
}
.title {
  margin-bottom: 20px;
  text-align: center;
}

.transform__title {
  font-size: 24px;

  text-align: center;
}

.transform__text {
  font-size: 20px;
  margin-bottom: 20px;
}

.transform__item {
  list-style: disc;
}
.transform__item:last-child {
  margin-bottom: 0;
}

.transformation {
  padding: 50px 0 100px;
}

.transformation__list {
  margin-bottom: 20px;
}
.transformation__rule {
  list-style: decimal;
  margin-bottom: 10px;
}

.example {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
.example-standart {
  background-color: aquamarine;
  border-radius: 20px;
}
.example-item {
  background-color: aqua;
  padding: 10px;
  border-radius: 20px;
  transition: all 1s ease;
}
.example-standart:hover .example-item--1 {
  translate: -50px 70px;
}
.example-standart:hover .example-item--2 {
  rotate: 200deg;
}
.example-standart:hover .example-item--3 {
  scale: 0.7;
}
.example-standart:hover .example-item--4 {
  transform: skew(60deg, 30deg);
}
.example-standart:hover .example-item--5 {
  transform: translate(30px, 2px) rotate(-20deg) scale(1.5, 2);
}

.transformation3d {
  padding: 20px 0 100px;
}
.transformation3d ul {
  margin-bottom: 60px;
}

.transformation3d-wrapper {
  width: 200px;
  height: 200px;
  background-color: rgb(51, 107, 88, 0.2);
  perspective: 200px;
}
.transformation3d-wrapper:hover {
  transform-style: preserve-3d;
}

.transformation3d-item {
  background-color: darkorchid;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: all 1s ease;
  text-align: center;
  padding: 20px;
}

.transformation3d-wrapper:hover .transformation3d-item--1 {
  transform: rotate3d(100, 1, 1, 50deg);
}
.transformation3d-wrapper:hover .transformation3d-item--2 {
  transform: translate3d(10px, 10px, 10px) rotate3d(1, 1, 1, 50deg);
}
.transformation3d-wrapper:hover .transformation3d-item--3 {
  transform: translate3d(-200px, -200px, -300px) rotate3d(1, 1, 1, 200deg);
  transition: transform 4s ease;
}
.transformation3d-wrapper:hover .transformation3d-item--4 {
  transform: rotateX(1080deg);
  transition: transform 4s ease;
  backface-visibility: visible;
  /* transform: rotateY(180deg); */
}

footer a {
  display: block;
  color: aquamarine;
  margin-bottom: 20px;
}
footer a:hover {
  text-decoration: underline;
}
footer p {
  text-align: center;
}

.blog-footer a {
  position: absolute;
  bottom: 0;
  left: 50%;
}
.blog-car {
  background:
    repeating-linear-gradient(to right, #ffd800 0 90px, transparent 90px 150px)
      center / 100% 8px no-repeat,
    linear-gradient(to bottom, #2d7d32 0 15%, #555 15% 85%, #2d7d32 85% 100%);
}
.scene__inner {
  position: relative;
}
.view__road {
  position: relative;
  bottom: 0px;
  width: 100%;
  height: 100vh;
  top: 0;
}

.view__car {
  position: relative;
}
.car-front {
  position: relative;
  left: 300px;
  top: 40px;
  width: 800px;
  height: 300px;
  background-color: rgb(75, 99, 100);
  border-radius: 80px 1500px 200px 0;
}

.wheels {
  width: 700px;
  position: relative;
  height: 300px;
  top: -200px;
  left: 350px;
}
.wheel {
  width: 100px;
  height: 100px;
  bottom: 0;
  position: absolute;
  background-color: #7a956b;
  border-radius: 50%;
  border: 10px dashed #000;
  /* background-clip: content-box; */
}
.wheel-2 {
  left: 20%;
}
.wheel-3 {
  left: 62%;
}

.wheel::after {
  content: "";
  width: 30%;
  height: 30%;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.wheel:first-child {
  left: 0;
}
.wheel:nth-child(2) {
  left: 150px;
}
.wheel:last-child {
  right: 0;
}
.car-window {
  position: absolute;
  top: 80px;
  left: 320px;
  width: 300px;
  height: 150px;
  border-radius: 20px;
  background-color: rgb(41, 42, 44);
}
.car-window-front {
  position: absolute;
  top: 40px;
  left: 821px;
  width: 275px;
  height: 220px;
  border-radius: 20px 1500px 0 0;
  background-color: rgb(64, 70, 66);
}
.car-door {
  position: absolute;
  top: 80px;
  left: 650px;
  width: 100px;
  height: 250px;
  border-radius: 20px;
  background-color: rgb(13, 13, 14);
}
.car-headlight {
  position: absolute;
  top: 280px;
  right: 100px;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  background-color: rgb(199, 135, 40);
}
.car-headlight-back {
  position: absolute;
  top: 230px;
  left: 300px;
  width: 10px;
  height: 60px;
  border-radius: 10px;
  background-color: rgb(199, 135, 40);
}

.car-headlight-back:last-child {
  top: 100px;
  left: 300px;
}
/*
.car-roof {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: red;
}
.car-underbody {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: red;
} */
